.sorteio-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 100px;

}

.botaodesortear-container{

    background-color: rgb(255, 0, 0);
    color: white;
    animation: 0.2s;
    border: 0;
    border-radius: 2000px;
    height: 30px;
   
}

.botaodesortear-container:hover{
    cursor: pointer;
    scale: 1.2;
    animation: 0.2s;
}