/*.sorteio-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.botaodesortear-container{

    background-color: rgb(255, 0, 0);
    color: white;
    animation: 0.2s;
    border: 0;
    border-radius: 200px;
    height: 45px;
   
}

.botaodesortear-container:hover{
    cursor: pointer;
    scale: 1.1;
    animation: 1.2;
}

.numero-sorteado{

    color: red;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

}

.botao-aumenta{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 0;

}

.botao-aumenta:hover{
    scale: 1.1;
    animation: 1.2;

}

.botao-diminui{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 0;

}

.botao-diminui:hover{
    scale: 1.1;
    animation: 1.2;

} */